img{
    width: 600px;
    height: 400px;
    display: block;
    margin: auto;
}
table{
    width: 50%;
    border-collapse: collapse;
    margin: 50px, auto;
    
}
th, td{
    border: 2px solid black ;
    padding: 12px;
    text-align: center;
}
th{
    background-color: blue;
}
